@import '../../../assets/scss/_variables.scss';

.labels-container {
    padding: 20px 0;

    .label-title-container {
        margin-bottom: 20px;
        padding-left: 20px;
        border-bottom: 1px solid #ccc;

        .label-title {
            margin-bottom: 20px;
            width: 90%;
        }
    }

    .label-color-container {
        padding-left: 20px;

        .label-color {
            max-height: 35px;
            margin-left: 20px;
            color: #727373;
        }

        .angular-color-picker {
            border-radius: 4px;
        }
    }

    .angular-color-picker > ._hues {
        width: 22px;
    }
}
