snippet-component {
  width: 100%;
}

snippet-component md-card {
  transition: 1s all;
  box-shadow: 0px 0px 6px 1px #ccc;
  width: 32%;
  display: inline-block;
  cursor: pointer;
}

@media all and (max-width: 1120px) {
  snippet-component md-card {
    width: 98%;
    display: block;
  }
}

@media all and (min-width: 1121px) and (max-width: 1700px) {
  snippet-component md-card {
    width: 48%;
  }
}

snippet-component md-card .code-container {
  height: 150px;
}

snippet-component md-card md-card-title {
  background-color: #5CAEE9;
  color: #fff;
}

snippet-component md-card md-card-title .clock-icon {
  margin-right: 7px;
}

snippet-component md-card md-card-content {
  padding: 0;
}

snippet-component md-card md-card-content .ace_cursor-layer,
snippet-component md-card md-card-content .ace_hidden-cursors {
  display: none;
}

snippet-component md-card md-card-content .ace_scroller {
  cursor: pointer;
}

snippet-component md-card md-card-footer {
  min-height: 48px;
}

.code-container {
  margin: 16px;
  background-color: #f7f7f7;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  max-height: 670px;
}

.code-container .snippet-code {
  width: 100%;
  height: 100%;
  font-family: consolas;
  padding-top: 10px;
  overflow: hidden;
}
