.remodal-wrapper .remodal {
  padding: 0;
}

.new-labels-container {
  padding: 0 20px 20px 20px;
}

.new-labels-container md-checkbox .md-label {
  color: #727373;
  margin-top: 3px;
}

.new-labels-container .label-checkboxes {
  margin-left: 20px;
  width: 100%;
}

md-checkbox.md-default-theme.md-checked .md-icon,
md-checkbox.md-checked .md-icon {
  background: #5CAEE9;
}

md-checkbox.md-default-theme.md-checked .md-ink-ripple,
md-checkbox.md-checked .md-ink-ripple {
  color: #5CAEE9;
}

.new-snippet-header {
  background-color: #F5F5F5;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.description-container {
  padding: 20px;
}

.description-textarea {
  width: 100%;
  resize: none;
  color: #727373;
}

.new-snippet-body {
  border-top: 1px solid #ccc;
  padding: 20px;
}

.new-snippet-body .snippet-title {
  width: 150px;
  margin-right: 5px;
}

.new-snippet-body .snippet-title-dropdown {
  padding: 4px 7px 4px 1px;
}

.new-snippet-body .new-snippet-code {
  width: 100%;
  min-height: 200px;
  margin-top: 15px;
  overflow: hidden;
}

.new-snippet-footer {
  background-color: #F5F5F5;
  padding: 20px;
  border-top: 1px solid #ccc;
}

.new-snippet-footer .cancel-btn {
  padding: 5px 15px;
}
